

  version: '3.8'

  services:
    # -------------------- Monitoring --------------------
    prometheus:
      image: prom/prometheus:latest
      container_name: prometheus
      ports:
        - "9090:9090"
      volumes:
        - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
        - ./monitoring/prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
        - prom_data:/prometheus
      command:
        - --config.file=/etc/prometheus/prometheus.yml
        - --storage.tsdb.path=/prometheus
        - --web.enable-lifecycle
      restart: unless-stopped
      networks: [microservice-net]

    alertmanager:
      image: prom/alertmanager:latest
      container_name: alertmanager
      volumes:
        - ./monitoring/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      command: [ "--config.file=/etc/alertmanager/alertmanager.yml" ]
      ports:
        - "9093:9093"
      restart: unless-stopped
      networks: [ microservice-net ]

    grafana:
      image: grafana/grafana:11.0.0
      container_name: grafana
      ports:
        - "3000:3000"
      environment:
        - GF_SECURITY_ADMIN_USER=admin
        - GF_SECURITY_ADMIN_PASSWORD=admin
        - GF_USERS_DEFAULT_THEME=light
      volumes:
        - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
        - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
        - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
        - grafana_data:/var/lib/grafana
      depends_on:
        - prometheus
      restart: unless-stopped
      networks: [ microservice-net ]


    # -------------------- Databases ---------------------
    order-db:
      image: postgres:15-alpine
      container_name: order_db_container
      environment:
        POSTGRES_DB: order_service_clean_architecture
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
      ports:
        - "5433:5432"
      volumes:
        - order_db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U user -d order_service_clean_architecture"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks: [microservice-net]

    restaurant-db:
      image: postgres:15-alpine
      container_name: restaurant_db_container
      environment:
        POSTGRES_DB: restaurant_service_clean_architecture
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
      ports:
        - "5434:5432"
      volumes:
        - restaurant_db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U user -d restaurant_service_clean_architecture"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks: [microservice-net]

    user-db:
      image: postgres:15-alpine
      container_name: user_db_container
      environment:
        POSTGRES_DB: user_service_clean_architecture
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
      ports:
        - "5436:5432"
      volumes:
        - user_db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U user -d user_service_clean_architecture"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks: [microservice-net]

    payment-db:
      image: postgres:15-alpine
      container_name: payment_db_container
      environment:
        POSTGRES_DB: payment_service_clean_architecture
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
      ports:
        - "5435:5432"
      volumes:
        - payment_db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U user -d payment_service_clean_architecture"]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks: [microservice-net]

    # -------------------- Infrastructure --------------------
    zookeeper:
      image: confluentinc/cp-zookeeper:7.5.0
      container_name: zookeeper
      environment:
        ZOOKEEPER_CLIENT_PORT: 2181
      ports:
        - "2181:2181"
      restart: unless-stopped
      networks: [microservice-net]

    kafka:
      image: confluentinc/cp-kafka:7.5.0
      container_name: kafka
      depends_on:
        - zookeeper
      ports:
        - "29092:29092"
        - "9092:9092"
      environment:
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092
        KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:29092
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
        KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      restart: unless-stopped
      networks: [microservice-net]

    redis:
      container_name: redis-clean-architecture
      image: redis:7-alpine
      ports:
        - "6379:6379"
      restart: unless-stopped
      networks: [microservice-net]

    discovery-server:
      build:
        context: .
        dockerfile: discovery_eureka/Dockerfile
      container_name: discovery-server
      ports:
        - "8761:8761"
      environment:
        SERVER_PORT: 8761
        EUREKA_CLIENT_REGISTER_WITH_EUREKA: "false"
        EUREKA_CLIENT_FETCH_REGISTRY: "false"
      healthcheck:
        test: [ "CMD-SHELL", "wget -qO- http://localhost:8761/ || exit 1" ]
        interval: 10s
        timeout: 5s
        retries: 10
        start_period: 20s
      restart: unless-stopped
      networks: [microservice-net]


    api-gateway:
      build:
        context: .
        dockerfile: api-gateway/Dockerfile
      container_name: api-gateway
      ports:
        - "8079:8079"
      depends_on:
        discovery-server:
          condition: service_healthy
      volumes:
        - ./api-gateway/src:/build/api-gateway/src
        - ./api-gateway/target:/build/api-gateway/target
        - ./api-gateway/pom.xml:/build/api-gateway/pom.xml
      environment:
        SERVER_PORT: 8079
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka/
        SPRING_APPLICATION_NAME: api-gateway
        SPRING_DEVTOOLS_RESTART_ENABLED: "true"
        SPRING_DEVTOOLS_LIVERELOAD_ENABLED: "true"
      restart: unless-stopped
      networks: [microservice-net]

    order-service:
      build:
        context: .
        dockerfile: order-service/Dockerfile
      container_name: order-service
      ports:
        - "8080:8080"
      depends_on:
        order-db:
          condition: service_healthy
        kafka:
          condition: service_started
        discovery-server:
          condition: service_healthy

      volumes:
        - ./order-service/src:/build/order-service/src
        - ./order-service/target:/build/order-service/target
        - ./order-service/pom.xml:/build/order-service/pom.xml
      environment:
        # Application
        SPRING_APPLICATION_NAME: order-service
        SERVER_PORT: 8080
        # Eureka
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka/
        EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
        # Database
        SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/order_service_clean_architecture
        SPRING_DATASOURCE_USERNAME: user
        SPRING_DATASOURCE_PASSWORD: password
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        # Kafka
        SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
        SPRING_KAFKA_PRODUCER_KEY_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_ACKS: all
        SPRING_KAFKA_PRODUCER_RETRIES: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_ENABLE_IDEMPOTENCE: "true"
        SPRING_KAFKA_PRODUCER_PROPERTIES_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_DELIVERY_TIMEOUT_MS: 120000
        SPRING_KAFKA_CONSUMER_GROUP_ID: order-service-group
        SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
        SPRING_DEVTOOLS_RESTART_ENABLED: "true"
        SPRING_DEVTOOLS_LIVERELOAD_ENABLED: "true"
      restart: unless-stopped
      networks: [microservice-net]

    restaurant-service:
      build:
        context: .
        dockerfile: restaurant-service/Dockerfile
      container_name: restaurant-service
      ports:
        - "8081:8081"
      depends_on:
        restaurant-db:
          condition: service_healthy
        redis:
          condition: service_started
        kafka:
          condition: service_started
        discovery-server:
          condition: service_healthy
      volumes:
        - ./restaurant-service/src:/build/restaurant-service/src
        - ./restaurant-service/target:/build/restaurant-service/target
        - ./restaurant-service/pom.xml:/build/restaurant-service/pom.xml
      environment:
        # Application
        SPRING_APPLICATION_NAME: restaurant-service
        SERVER_PORT: 8081
        # Eureka
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka/
        EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
        # Database
        SPRING_DATASOURCE_URL: jdbc:postgresql://restaurant-db:5432/restaurant_service_clean_architecture
        SPRING_DATASOURCE_USERNAME: user
        SPRING_DATASOURCE_PASSWORD: password
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        # Redis
        SPRING_DATA_REDIS_HOST: redis
        SPRING_DATA_REDIS_PORT: 6379
        # Kafka
        SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
        SPRING_KAFKA_PRODUCER_KEY_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_ACKS: all
        SPRING_KAFKA_PRODUCER_RETRIES: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_ENABLE_IDEMPOTENCE: "true"
        SPRING_KAFKA_PRODUCER_PROPERTIES_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_DELIVERY_TIMEOUT_MS: 120000
        SPRING_KAFKA_CONSUMER_GROUP_ID: restaurant-service-group
        SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
        SPRING_DEVTOOLS_RESTART_ENABLED: "true"
        SPRING_DEVTOOLS_LIVERELOAD_ENABLED: "true"
      restart: unless-stopped
      networks: [microservice-net]

    payment-service:
      build:
        context: .
        dockerfile: payment-service/Dockerfile
      container_name: payment-service
      ports:
        - "8083:8083"
      depends_on:
        payment-db:
          condition: service_healthy
        kafka:
          condition: service_started
        discovery-server:
          condition: service_healthy
      volumes:
        - ./payment-service/src:/build/payment-service/src
        - ./payment-service/target:/build/payment-service/target
        - ./payment-service/pom.xml:/build/payment-service/pom.xml
      environment:
        # Application
        SPRING_APPLICATION_NAME: payment-service
        SERVER_PORT: 8083
        # Eureka
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka/
        EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
        # Database
        SPRING_DATASOURCE_URL: jdbc:postgresql://payment-db:5432/payment_service_clean_architecture
        SPRING_DATASOURCE_USERNAME: user
        SPRING_DATASOURCE_PASSWORD: password
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        # Kafka
        SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
        SPRING_KAFKA_PRODUCER_KEY_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
        SPRING_KAFKA_PRODUCER_ACKS: all
        SPRING_KAFKA_PRODUCER_RETRIES: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_ENABLE_IDEMPOTENCE: "true"
        SPRING_KAFKA_PRODUCER_PROPERTIES_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION: 5
        SPRING_KAFKA_PRODUCER_PROPERTIES_DELIVERY_TIMEOUT_MS: 120000
        SPRING_KAFKA_CONSUMER_GROUP_ID: payment-service-group
        SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
        SPRING_DEVTOOLS_RESTART_ENABLED: "true"
        SPRING_DEVTOOLS_LIVERELOAD_ENABLED: "true"
      restart: unless-stopped
      networks: [microservice-net]

    user-service:
      build:
        context: .
        dockerfile: user-service/Dockerfile
      container_name: user-service
      ports:
        - "8082:8082"
      depends_on:
        user-db:
          condition: service_healthy
        discovery-server:
          condition: service_healthy
      volumes:
        - ./user-service/src:/build/user-service/src
        - ./user-service/target:/build/user-service/target
        - ./user-service/pom.xml:/build/user-service/pom.xml
      environment:
        # Application
        SPRING_APPLICATION_NAME: user-service
        SERVER_PORT: 8082
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka/
        EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
        SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user_service_clean_architecture
        SPRING_DATASOURCE_USERNAME: user
        SPRING_DATASOURCE_PASSWORD: password
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
        SPRING_DEVTOOLS_RESTART_ENABLED: "true"
        SPRING_DEVTOOLS_LIVERELOAD_ENABLED: "true"
      restart: unless-stopped
      networks: [microservice-net]

  volumes:
    prom_data:
    grafana_data:
    order_db_data:
    restaurant_db_data:
    payment_db_data:
    user_db_data:

  networks:
    microservice-net:
      driver: bridge